body{
	background: #43D1AF;
	padding: 20px 0;
	font-size: 100%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}
h1{
	color: #3e4444;
}
input{
	padding-bottom: 14px;
	margin-bottom: 20px;
}
.image-holder{
	width: 10px;
	height: 30px;
	margin-left: 10px;
	margin-right: 10px;
}
.form-holder{
	background: #43D1AF;
	padding: 0px;
	font-size: 110%;
	font-weight: 300;
	position: center;
	text-align: center;
	color: #3e4444;
	margin: -16px -16px 16px -16px;
}
#sub:hover{
	background-color: #82b74b;
}